<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>欢迎登录游戏后台管理系统</title>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"> </script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link href="../static/css/login.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="col-md-4 col-md-offset-9">
                <h2 class="text-center">登录游戏管理后台</h2>
                    {% csrf_token %}
                    <div class="form-group">
                        <lobel for="name">用户名</lobel>
                        <input type="text" id="name" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" id="password" class="form-control" name="password">
                    </div>
                    <input type="button" class="btn btn-success btn-block" value="登录" id="loginBtn">
            </div>
        </div>

        <script>
            // 2.登录按钮发送ajax请求
            $('#loginBtn').click(function () {
                // 可以再次使用form标签序列化功能 也可以自己挨个获取
                $.ajax({
                    url:'',
                    type:'post',
                    data:{'username':$('#name').val(), 'password':$('#password').val(), 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                    success:function (args) {
                        if(args.code === 10000){
                            window.location.href = args.url
                        }else{
                            alert(args.msg)
                            {#swal(args.msg,'error')#}
                        }
                    }
                })
            })
        </script>
    </body>
</html>
