<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>增加配置</title>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"> </script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>

    <body>
        <div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label> 上传文件 </label>
                <input type="file" multiple="" id="upload_files" name="upload_files">
                <button id="upButton" class="btn btn-default">上传</button>
            </form>
        </div>
        
        <script>
            // 2.登录按钮发送ajax请求
            $('#upButton').click(function () {
                var files = $('input[type=file]'[0]);
                var formData=new FormData();
                formData.append('upload_files', files);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                $.ajax({
                    url:'',
                    type : 'post',
                    data : formData,
                    data:{'csrfmiddlewaretoken':'{{ csrf_token }}'},
                    success:function (args) {
                        if(args.code === 10000){
                            window.location.href = args.url
                        }else{
                            alert(args.msg)
                            {#swal(args.msg,'error')#}
                        }
                    }
                })
            })
        </script>

    </body>
</html>
